In [ ]:
# a = {}
# a = {<key>:<value>,<key>:<value>,<key>:<value>}

In [7]:
a = {}
type(a)

dict

In [8]:
a = {"a":"Apple","b":"Ball"}
print(a)
a["a"]

{'a': 'Apple', 'b': 'Ball'}

'Apple'

In [ ]:
# Mutable datatype,
# it may have multiple values,
# has no duplicate index,
# unordered earlier but ordered nowadays.

In [9]:
a = {"a":"Apple","b":"Ball"}
a

{'a': 'Apple', 'b': 'Ball'}

In [10]:
a["a"] = "Ant"
a

{'a': 'Ant', 'b': 'Ball'}

In [11]:
a = {}
a["a"] = "Apple"
a["b"] = "Ball"
a["c"] = "Cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [12]:
a["a"] = "Ant"# value of 1st index is changed(muted)
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [13]:
for i in a:#only keys are printed
    print(i)

a
b
c

In [14]:
for i in a.values():# for printing values of every keys
    print(i)

Ant
Ball
Cat

In [16]:
for i in a.items():# for accessing keys, values in tuple format
    print(i)

('a', 'Ant')
('b', 'Ball')
('c', 'Cat')

In [17]:
key_value = list()
for i in a.items():
    key_value.append(i)
key_value

[('a', 'Ant'), ('b', 'Ball'), ('c', 'Cat')]

In [18]:
new_data = []#changing to list inside list
for i in key_value:
    j = list(i)
    new_data.append(j)
new_data

[['a', 'Ant'], ['b', 'Ball'], ['c', 'Cat']]

In [19]:
new_data[0][0] = "A"
new_data

[['A', 'Ant'], ['b', 'Ball'], ['c', 'Cat']]

In [20]:
d = {}
for k in new_data:
    key = k[0]
    value = k[1]
    d[key] = value
print(d)

{'A': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [20]:
d = {}
n = int(input('enter no of people: '))
for i in range(n):
    name = input('enter name: ')
    ph_no = int(input('enter phone: '))
    d[name] = ph_no
print('the info. is: ',d)

enter no of people: 2
enter name: A
enter phone: 98465484657
enter name: B
enter phone: 9836465736
the info. is:  {'A': 98465484657, 'B': 9836465736}

In [21]:
d["A"]

98465484657

In [27]:
a = {"a": "Apple"}
b = {"b": "Ball"}
a.update(b)
a

{'a': 'Apple', 'b': 'Ball'}

In [31]:
d = {'a': 'Apple', 'b': 'Ball'}
del d["a"]
d

{'b': 'Ball'}

In [3]:
d = {'a': 'Apple', 'b': 'Ball'}
print(d.pop("a"))
print(d)

Apple
{'b': 'Ball'}

In [36]:
d = {'a': 'Apple', 'b': 'Ball'}
d["c"] = "Cat"
print(d)
d.remove(d["b"])# no remove attribute only del
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

AttributeError: 'dict' object has no attribute 'remove'

In [37]:
d = {'a': 'Apple', 'b': 'Ball'}
d.clear()
print(d)

{}

In [ ]:
# list inside dictionary # {[]}

In [40]:
a = {"a": ["Apple","Ant"], "b": ["Ball","Bat"]}
print(a["a"])
print(a["a"][0])
print(a["a"][1])

['Apple', 'Ant']
Apple
Ant

In [43]:
#List inside dictionary # {[]}
d = {}
n = int(input('enter no of people: '))
for i in range(n):
    name = input('enter name: ')
    ntc = int(input('enter ntc phone: '))
    ncell = int(input('enter ncell phone:'))
    d[name] = [ntc,ncell]
print('the info. is: ',d)

enter no of people: 2
enter name: A
enter ntc phone: 948778756435
enter ncell phone:8957893475
enter name: B
enter ntc phone: 84875896
enter ncell phone:984375
the info. is:  {'A': [948778756435, 8957893475], 'B': [84875896, 984375]}

In [44]:
d["A"]

[948778756435, 8957893475]

In [45]:
d = {'A': [948778756435, 8957893475], 'B': [84875896, 984375]}
d["A"].append("0984574566")
d

{'A': [948778756435, 8957893475, '0984574566'], 'B': [84875896, 984375]}

In [46]:
d["A"][2] = 974857
d

{'A': [948778756435, 8957893475, 974857], 'B': [84875896, 984375]}

In [5]:
d = {'A': [948778756435, 8957893475, 974857], 'B': [84875896, 984375]}
del d["A"][2]
del d["A"]
d

{'B': [84875896, 984375]}

In [54]:
# Dictionary with multiple values
#list inside dictionary# {[]}
d = {}
n = int(input('enter no of people: '))
for i in range(n):
    name = input('enter name: ')
    price = int(input('enter price: '))
    quantity = int(input('enter quantity: '))
    total = price*quantity
    d[name] = [price,quantity,total]
print(d)

enter no of people: 2
enter name: ABC
enter price: 200
enter quantity: 10
enter name: XYZ
enter price: 300
enter quantity: 20
{'ABC': [200, 10, 2000], 'XYZ': [300, 20, 6000]}

In [56]:
#Dictionary inside list
a = [{"Name": "Ram","Phone": "9846456465"},{"Name": "Shyam", "Phone": "983535464"},{"Name": "hari", "Phone": "9835354334"}]
a[0]

{'Name': 'Ram', 'Phone': '9846456465'}

In [57]:
for i in a:
    print(i)

{'Name': 'Ram', 'Phone': '9846456465'}
{'Name': 'Shyam', 'Phone': '983535464'}
{'Name': 'hari', 'Phone': '9835354334'}

In [62]:
#Dictionary inside list # [{}]
#Api
#templates
d = []
s = 0
n = int(input('enter no of people: '))
for i in range(n):
    name = input('enter name: ')
    price = int(input('enter price: '))
    quantity = int(input('enter quantity: '))
    total = price*quantity
    s += total
    data = {"name": name, "price": price, "quantity": quantity, "total":total}
    d.append(data)
print("the info is: ",d)
print("net total is: ",s)

enter no of people: 2
enter name: a
enter price: 45
enter quantity: 56
enter name: B
enter price: 3
enter quantity: 5
the info is:  [{'name': 'a', 'price': 45, 'quantity': 56, 'total': 2520}, {'name': 'B', 'price': 3, 'quantity': 5, 'total': 15}]
net total is:  2535

In [ ]:
# change management in dic. inside list

In [64]:
d[0]["price"] = 200
q = d[0]["quantity"]
total = d[0]["price"]*q
total

11200

In [65]:
d[0]["total"] = total
d

[{'name': 'a', 'price': 200, 'quantity': 56, 'total': 11200},
 {'name': 'B', 'price': 3, 'quantity': 5, 'total': 15}]

In [16]:
total = 0
d = [{'name': 'a', 'price': 45, 'quantity': 56, 'total': 2520}, {'name': 'B', 'price': 3, 'quantity': 5, 'total': 15}]
i = int(input('enter index: '))
U_I = int(input('enter an option\n 1: to change quantity\n 2: to change price\n 3: to change both\n 4: to quit: '))
if U_I == 1:
    q = int(input('enter new quantity: '))
    d[i]["quantity"] = q
    total = q*d[i]['price']
elif U_I == 2:
    p = int(input('enter new price: '))
    d[i]["price"] = p
    total = p*d[i]['quantity']
elif U_I == 3:
    q = int(input('enter new quantity: '))
    p = int(input('enter new price: '))
    d[i]["quantity"] = q
    d[i]["price"] = p
    total = p*q
elif U_I == 4:
    print('the program is quit!')
    exit()
d[i]['total'] = total
print(d)
print(total)
s = 0
for i in d:
    x = i['total']
    s+=x
print('the net total is:', s)

enter index: 0
enter an option
 1: to change quantity
 2: to change price
 3: to change both
 4: to quit: 1
enter new quantity: 20
[{'name': 'a', 'price': 45, 'quantity': 20, 'total': 900}, {'name': 'B', 'price': 3, 'quantity': 5, 'total': 15}]
900
the net total is: 915

In [ ]:
# WAP for result management system (update the marks if required)

In [29]:
# Dictionary inside list # [{}]
result_list = []
n = int(input('enter n: '))
for i in range(n):
    name = input('enter name of student: ')
    eng = int(input('enter english marks: '))
    sci = int(input('enter science marks: '))
    math = int(input('enter math marks: '))
    sum = eng+sci+math
    per = round(sum/3,2)
    d = {'name': name, 'eng_marks': eng,'sci_marks': sci,'sum': sum,'math_marks': math,'per': per }
    result_list.append(d)
print(result_list)

enter n: 2
enter name of student: NABIN
enter english marks: 70
enter science marks: 80
enter math marks: 90
enter name of student: SUJATA
enter english marks: 80
enter science marks: 90
enter math marks: 90
[{'name': 'NABIN', 'eng_marks': 70, 'sci_marks': 80, 'sum': 240, 'math_marks': 90, 'per': 80.0}, {'name': 'SUJATA', 'eng_marks': 80, 'sci_marks': 90, 'sum': 260, 'math_marks': 90, 'per': 86.67}]

In [1]:
# Dictionary inside list # [{}]
d = []
total = new_total = 0
n = int(input('enter n: '))
for i in range(n):
    name = input('enter name of student: ')
    eng = int(input('enter english marks: '))
    sci = int(input('enter science marks: '))
    math = int(input('enter math marks: '))
    total = eng+sci+math
    per = round(total/3,2)
    result = {'name': name,'eng': eng,'sci': sci,'math': math,'tot.marks obtained': total,'per': per}
    d.append(result)
print(d)
j = int(input('enter the index: '))

option = input('enter an option: \n 1: to change eng.marks,\n 2: to change sci.marks,\n 3: to change math marks:\n 4: to quit\n')
if option == '1':
    print(f'option selected is {option}.')
    E = int(input('enter eng marks: '))
    d[j]['eng'] = E
    new_total = E+ d[j]['sci']+d[j]['math']
    d[j]['tot.marks obtained'] = new_total
    d[j]['per'] = round(new_total/3,2)
elif option == '2':
    print(f'option selected is {option}.')
    S = int(input('enter eng marks: '))
    d[j]['sci'] = S
    new_total = S+ d[j]['eng']+d[j]['math']
    d[j]['tot.marks obtained'] = new_total
    d[j]['per'] = round(new_total/3,2)
elif option == '3':
    print(f'option selected is {option}.')
    M = int(input('enter math marks: '))
    d[j]['math'] = M
    new_total = M+ d[j]['eng']+d[j]['sci']
    d[j]['tot.marks obtained'] = new_total
    d[j]['per'] = round(new_total/3,2)
elif option == '4':
    print('the program quits!')
    exit()
else:
    print('enter valid option.')
print(d)

enter n: 2
enter name of student: nabin
enter english marks: 70
enter science marks: 90
enter math marks: 89
enter name of student: bijju
enter english marks: 90
enter science marks: 90
enter math marks: 90
[{'name': 'nabin', 'eng': 70, 'sci': 90, 'math': 89, 'tot.marks obtained': 249, 'per': 83.0}, {'name': 'bijju', 'eng': 90, 'sci': 90, 'math': 90, 'tot.marks obtained': 270, 'per': 90.0}]
enter the index: 1
enter an option:
 1: to change eng.marks,
 2: to change sci.marks,
 3: to change math marks:
 4: to quit
3
option selected is 3.
enter math marks: 99
[{'name': 'nabin', 'eng': 70, 'sci': 90, 'math': 89, 'tot.marks obtained': 249, 'per': 83.0}, {'name': 'bijju', 'eng': 90, 'sci': 90, 'math': 99, 'tot.marks obtained': 279, 'per': 93.0}]

In [ ]:
# Dictionary inside dictionary

In [34]:
a = {"Ram": {"physics": 90, "chemistry": 78,"math": 78,"english": 67},
    "Shyam": {"physics": 92, "chemistry": 79,"math": 74,"english": 45}}
print(a["Ram"])
print(a["Shyam"])

{'physics': 90, 'chemistry': 78, 'math': 78, 'english': 67}
{'physics': 92, 'chemistry': 79, 'math': 74, 'english': 45}

In [35]:
a["Ram"]["physics"] = 68
print(a["Ram"])
a["Ram"]["Nepali"] = 90
print(a["Ram"])
del a["Ram"]["Nepali"]
print(a["Ram"])

{'physics': 68, 'chemistry': 78, 'math': 78, 'english': 67}
{'physics': 68, 'chemistry': 78, 'math': 78, 'english': 67, 'Nepali': 90}
{'physics': 68, 'chemistry': 78, 'math': 78, 'english': 67}

In [2]:
a = {'A': 'Apple'}
b = {"A": ['Apple', 'Ant']}
c = {('A','a'): "Apple"} # tuple is immutable so can exist in key for m:1 relation
#d = {['A','a']: "Apple"}# list/dictionary itself are mutable so cannot exist in key for m:1 relation so o/p unhashable type error
e  = {"A":("Apple","Ant")}
print(a)
print(b)
print(c)
print(e)

{'A': 'Apple'}
{'A': ['Apple', 'Ant']}
{('A', 'a'): 'Apple'}
{'A': ('Apple', 'Ant')}

In [36]:
print(a["Ram"])

{'physics': 68, 'chemistry': 78, 'math': 78, 'english': 67}

In [6]:
# Dictionary inside dictionary # {{}}
d = {}
s = 0
n = int(input('enter no of people: '))
for i in range(n):
    name = input('enter name: ')
    price = int(input('enter price: '))
    quantity = int(input('enter quantity: '))
    total = price*quantity
    s += total
    d[name] = {"price": price, "quantity": quantity, "total":total}
print("the info is: ",d)
print("net total is: ",s)

enter no of people: 2
enter name: nabin
enter price: 87
enter quantity: 45
enter name: hdfjsf
enter price: 4
enter quantity: 3
the info is:  {'nabin': {'price': 87, 'quantity': 45, 'total': 3915}, 'hdfjsf': {'price': 4, 'quantity': 3, 'total': 12}}
net total is:  3927