In [ ]:
List is a,
# mutable datatype,
# ordered,
# follows indexing,
# allow duplicate members

In [11]:
a = ["apple","ball"]
b = [1,2,3,4]
print(a)
print(type(b))

['apple', 'ball']
<class 'list'>

In [13]:
print(a[0])
print(a[1])

apple
ball

In [14]:
a = ["apple", "ball","cat","Dog"]
print(a[0:3:2])

['apple', 'cat']

In [15]:
a = ["apple"]
b = ["ball"]
c = ["cat"]
print(b+a+c)

['ball', 'apple', 'cat']

In [16]:
print(a*3)

['apple', 'apple', 'apple']

In [1]:
a = "Apple"
b = [a]
print(b)

['Apple']

In [21]:
a = ["apple"]
b = [a]
b.append(["ball"])

print(b)

[['apple'], ['ball']]

In [40]:
a = []
b = "Ram"
print(a+[b])

['Ram']

In [41]:
# Creating list with loop
a = []
n = int(input('enter n: '))
for i in range(n):
    name = input('enter name: ')
    a += [name]
print(a)

enter n: 2
enter name: nabin
enter name: nabin1
['nabin', 'nabin1']

In [42]:
# define an empty list while working with lists
# (i.e.while adding list elements)
a = []
n = int(input('enter int: '))
for i in range(n):
    x = int(input('enter c: '))
    a += [x]
print('the list is: ', a)
print('the max value is: ',max(a))
print('the min value is: ', min(a))
print('the sum is: ', sum(a))
print('the average is: ', sum(a)/n)

enter int: 2
enter c: 3
enter c: 4
the list is:  [3, 4]
the max value is:  4
the min value is:  3
the sum is:  7
the average is:  3.5

In [44]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs"]
a.sort()
print(a)

['dshfbhje', 'jaweiuw', 'skjdfbhs', 'zebra']

In [45]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs"]
a.reverse()
print(a)

['skjdfbhs', 'jaweiuw', 'dshfbhje', 'zebra']

In [46]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs"]
a.sort(reverse = True)
print(a)

['zebra', 'skjdfbhs', 'jaweiuw', 'dshfbhje']

In [14]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs"]
n = len(a)
for i in range(n):
    print(i,a[i], end =",")

0 zebra,1 dshfbhje,2 jaweiuw,3 skjdfbhs,3 skjdfbhs

In [54]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs"]
for i in a:
    print(i)

zebra
dshfbhje
jaweiuw
skjdfbhs

In [18]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs"]
for i in a:
    if i == "zebra":
        break
print(i)

zebra

In [12]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs"]
for i in a:
    if i == "zebra":
        continue
    print(i)

dshfbhje
jaweiuw
skjdfbhs

In [66]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs"]
if "zebra" in a:
    print('yes,', a.count("zebra"))

yes, 1

In [13]:
a = [] # or a = list()
a.append("apple")
print(a)

['apple']

In [78]:
a = []
n = int(input('enter n: '))
for i in range(n):
    name = input('enter name: ')
    b = a.append(name)
print(a)

enter n: 2
enter name: nabin
enter name: nabin1
['nabin', 'nabin1']

In [79]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs","zebra"]
a.insert(2,"Bag")
print(a)

['zebra', 'dshfbhje', 'Bag', 'jaweiuw', 'skjdfbhs', 'zebra']

In [80]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs"]
a[1] = "X-ray"
print(a)

['zebra', 'X-ray', 'jaweiuw', 'skjdfbhs']

In [86]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs"]
del a[0]
print(a)

['dshfbhje', 'jaweiuw', 'skjdfbhs']

In [87]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs"]
del a[0:2]
print(a)

['jaweiuw', 'skjdfbhs']

In [88]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs"]
del a[0:3:2]
print(a)

['dshfbhje', 'skjdfbhs']

In [92]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs","zebra"]
a.index("zebra")

0

In [94]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs","zebra"]
a.remove("zebra")# only deletes(first) but no return value
print(a)

['dshfbhje', 'jaweiuw', 'skjdfbhs', 'zebra']

In [14]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs"]
a.pop(1)# deletes and returns value

'dshfbhje'

In [15]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs"]
a.pop(1)# deletes and returns value
print(a)

['zebra', 'jaweiuw', 'skjdfbhs']

In [99]:
#deleting all duplicate values
#first count the values and take a loop for that count
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs","zebra"]
n = a.count("zebra")
for i in range(n):
    a.remove("zebra")
print(a)

['dshfbhje', 'jaweiuw', 'skjdfbhs']

In [100]:
#deleting all duplicate values
#first count the values and take a loop for that count
#keep last duplicate value
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs","zebra"]
n = a.count("zebra")
for i in range(n-1):
    a.remove("zebra")
print(a)

['dshfbhje', 'jaweiuw', 'skjdfbhs', 'zebra']

In [17]:
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs","zebra"]
for i in a:
    if i == "zebra":
        print(a.index(i))

0
0

In [112]:
#finding index of multiple values
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs","zebra"]
for i in range(len(a)):
    if a[i] == "zebra":
        print(i)

0
4

In [115]:
index = []
a = ["zebra","dshfbhje","jaweiuw","skjdfbhs","zebra"]
for i in range(len(a)):
    if a[i] == "zebra":
        print(i)
        index.append(i)
print(index)

0
4
[0, 4]

In [1]:
a = [[],[],[],[]] #multi Dimensional list
print(a)
print(len(a))

[[], [], [], []]
4

In [3]:
a = [[1,2,3],[4,5,6],[7,8,9]]
print(a)
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3

In [7]:
a = [[1,2,3]]
b = [4,5,6]
c = print(a+b)

[[1, 2, 3], 4, 5, 6]

In [9]:
a = [[1,2,3]]
b = [[4,5,6]]
c = print(a+b)

[[1, 2, 3], [4, 5, 6]]

In [8]:
a = [[1,2,3]]
b = [4,5,6]
c = a+b
print(len(c))

4

In [ ]:
#List inside list in matrix form
my_list = []
i = int(input("enter i: "))
j = int(input("enter j: "))
for z in range(i):
    my_list1 = []
    for b in range(j):
        x = int(input('enter x: '))
        my_list1.append(x)
    
    my_list.append(my_list1)

print(my_list)

In [ ]:
s.split('\n')#splits strings separated by \n to a list elements

In [32]:
x = "a---232\nb---567"
a = x.split('\n')
print(a)

['a---232', 'b---567']

In [40]:
x = "a---232\nb---567"
a = x.split('\n')[0:-1]
print(a)

['a---232']

In [62]:
data = [] # splitting  every string member to a ordered list
x = "abc--fgh---ijk--lmn"
for i in range(1):
    y = x.split('---')
    data.append(y)
data

[['abc--fgh,', 'ijk--lmn']]

In [15]:
data = []
n = int(input('enter n: '))
for i in range(n):
    name = input('enter name: ')
    phone = input('enter phone: ')
    info = [name,phone]
    data.append(info)# append function adds info in list inside list format
print(data)

enter n: 2
enter name: sd
enter phone: df
enter name: sd
enter phone: gr
[['sd', 'df'], ['sd', 'gr']]

In [67]:
data = [] # Concat
n = int(input('enter n: '))
for i in range(n):
    name = input('enter name: ')
    phone = input('enter phone: ')
    info = [[name,phone]]
    data +=info
print(data)

enter n: 2
enter name: hgfh
enter phone: 87987
enter name: gfhfd
enter phone: 89879
[['hgfh', '87987'], ['gfhfd', '89879']]

In [25]:
a = [['Ram', 98232435233],['Shyam', 937498347346]] #accessing data inside list
print(a[0],a[1])#for i in a:
                #print(i)
a[1][0]

['Ram', 98232435233] ['Shyam', 937498347346]

'Shyam'

In [26]:
for i in a:
    print(i)

['Ram', 98232435233]
['Shyam', 937498347346]

In [69]:
a = [['Ram', 98232435233],['Shyam', 937498347346]]
a[0:2]

[['Ram', 98232435233], ['Shyam', 937498347346]]

In [28]:
a = [['Ram', 98232435233],['Shyam', 937498347346]]
a[-1]

['Shyam', 937498347346]

In [32]:
a = [['Ram', 98232435233],['Shyam', 937498347346]]
a[0:4:2]

[['Ram', 98232435233]]

In [70]:
a = [['Ram', 98232435233],['Shyam', 937498347346]]#updating data
a[0][0] = "Hari"
print(a[0][0])
print(a)

Hari
[['Hari', 98232435233], ['Shyam', 937498347346]]

In [82]:
a = [['Ram', 98232435233],['Shyam', 937498347346]]#deletion of data elements
del a[0][0]#deleted by any list item or key value
print(a[0])
print(a)

[98232435233]
[[98232435233], ['Shyam', 937498347346]]

In [83]:
a = [['Ram', 98232435233],['Shyam', 937498347346]]
a.remove(a[0])#deletes by list item index
print(a)

[['Shyam', 937498347346]]

In [45]:
result = []
n = int(input('enter n: '))
for i in range(1, n+1):
    name = input('enter your name: ')
    phy = int(input('enter Physics marks: '))
    chem = int(input('enter Chemistry marks: '))
    math = int(input('enter Math marks: '))
    Eng = int(input('enter English marks: '))
    Nep = int(input('enter Nepali marks: '))
    total = sum([phy,chem,math,Eng,Nep])
    Per = total/5
    data = [i,name,phy,chem,math,Eng,Nep, total, Per]
    result.append(data)
print(result)

enter n: 2
enter your name: A
enter Physics marks: 5
enter Chemistry marks: 6
enter Math marks: 7
enter English marks: 8
enter Nepali marks: 9
enter your name: B
enter Physics marks: 4
enter Chemistry marks: 5
enter Math marks: 6
enter English marks: 7
enter Nepali marks: 8
[[1, 'A', 5, 6, 7, 8, 9, 35, 7.0], [2, 'B', 4, 5, 6, 7, 8, 30, 6.0]]

In [46]:
roll = int(input('enter roll no: '))#printing element to exact roll index
result[roll-1]

enter roll no: 2

[2, 'B', 4, 5, 6, 7, 8, 30, 6.0]

In [52]:
result[0][2] = 6
s = result[0][2:6]
net_sum =sum(s)
result[0][7] = net_sum
result[0][8] = net_sum/5 #result[0][-1]
result

[[1, 'A', 6, 6, 7, 8, 9, 27, 5.4], [2, 'B', 4, 5, 6, 7, 8, 30, 6.0]]

In [1]:
p_s = {}
sum = 0
a,b,c,d = [['Dew',50],['Coke',45],['Fanta',40],['Slice',42]]

while True:
    UI = int(input('enter to buy \n1:Dew,\n2:Coke,\n3:Fanta,\n4:Slice\n5:print data\n'))
    if UI == 1:
        print(f'the price of {a[0]} is Rs.{a[1]}')
        no_Dew = int(input('How many: '))
        dew_Price = a[1]*no_Dew
        p_s['Dew'] = {'quantity':no_Dew,'rate':a[1],'total':dew_Price}
        sum+=dew_Price
        
    elif UI == 2:
        print(f'the price of {b[0]} is Rs.{b[1]}')
        no_Coke = int(input('How many: '))
        coke_Price = b[1]*no_Coke
        p_s['Coke'] = {'quantity':no_Coke,'rate':b[1],'total':coke_Price}
        sum+=coke_Price
        
    elif UI == 3:
        print(f'the price of {c[0]} is Rs.{c[1]}')
        no_Fanta = int(input('How many: '))
        fanta_Price = c[1]*no_Fanta
        p_s['Fanta'] = {'quantity':no_Fanta,'rate':c[1],'total':fanta_Price}
        sum+=fanta_Price
        
    elif UI == 4:
        print(f'the price of {d[0]} is Rs.{d[1]}')
        no_Slice = int(input('How many: '))
        slice_Price = d[1]*no_Slice
        p_s['Slice'] = {'quantity':no_Slice,'rate':d[1],'price':slice_Price}
        sum+=slice_Price
        
    elif UI == 5:
        print(p_s)
        print('the net total is: ',sum)
        break
    else:
        print('enter valid option!')

enter to buy
1:Dew,
2:Coke,
3:Fanta,
4:Slice
5:print data
1
the price of Dew is Rs.50
How many: 2
enter to buy
1:Dew,
2:Coke,
3:Fanta,
4:Slice
5:print data
2
the price of Coke is Rs.45
How many: 5
enter to buy
1:Dew,
2:Coke,
3:Fanta,
4:Slice
5:print data
3
the price of Fanta is Rs.40
How many: 10
enter to buy
1:Dew,
2:Coke,
3:Fanta,
4:Slice
5:print data
4
the price of Slice is Rs.42
How many: 50
enter to buy
1:Dew,
2:Coke,
3:Fanta,
4:Slice
5:print data
5
{'Dew': {'quantity': 2, 'rate': 50, 'total': 100}, 'Coke': {'quantity': 5, 'rate': 45, 'total': 225}, 'Fanta': {'quantity': 10, 'rate': 40, 'total': 400}, 'Slice': {'quantity': 50, 'rate': 42, 'price': 2100}}
the net total is:  2825