In [1]:
# Loop
# While
# for

In [2]:
# range(5)
# range(1,5)
# range(1,5,2)

In [ ]:
# for(i =0;i<5;i++){
    
# }

In [4]:
# for(i =0;i<5;i++){
    
# }
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [7]:
# for(i =1;i<5;i++){
    
# }
for i in range(2,5):
    print(i,"Hello World")

2 Hello World
3 Hello World
4 Hello World

In [10]:
# for(i =1;i<5;i=i+2;){
    
# }
for i in range(1,10,2):
    print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [12]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
print("The sum is = ",s)
print("The average = ",s/n)

Enter n = 3
Enter x = 10
Enter x = 20
Enter x = 30
60

In [15]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s = s+","+x
print("The name of the students are  = ",s)

Enter n = 2
Enter x = Ram
Enter x = Shyam
The name of the students are  =  ,Ram,Shyam

In [16]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n = 5
5
10
15
20
25
30
35
40
45
50

In [17]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [20]:
# 4! = 1*2*3*4
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac*i
print(fac)

Enter n = 4
24

In [ ]:
# prime and composite

In [22]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    s = s+name+"---"+str(phone)+"\n"
print("The name of the students are  = \n",s)

Enter n = 2
Enter name = Ram
Enter phone = 9867665654
Enter name = Shyam
Enter phone = 9856554543
The name of the students are  =
 Ram---9867665654
Shyam---9856554543

In [27]:
# range(5)--(0,1,2,3,4)
a = "Python"
for i in a:
    print(i,end = ",")

P,y,t,h,o,n,

In [7]:
# range(5)--(0,1,2,3,4)
a = "Python"
for i in a:
    print(i)

P
y
t
h
o
n

In [28]:
a = 1
b = " "
for i in range(10,-1,-1):
    print(i*b,"*"*a+"*"*(a-1))
    a = a+1

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************

In [31]:
n = 10
m = 10
for i in range(n):
    
    print("*"*i,"*"*m)
    m = m-1

 **********
* *********
** ********
*** *******
**** ******
***** *****
****** ****
******* ***
******** **
********* *

In [1]:
# # While loop
# while <condition>:
#     <operations>
#     <increment_or_decrement>

In [2]:
a = 0
while a<5:
    print(a,"Hello World")
    a = a+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [3]:
s = 0
i = 0
n = int(input("Enter n = "))
while i<n:
    x = int(input("Enter x = "))
    s = s+x
    i = i+1
print("The sum is = ",s)
print("The average = ",s/n)

Enter n = 3
Enter x = 12
Enter x = 234
Enter x = 21
The sum is =  267
The average =  89.0

In [2]:
i =1
n = int(input("Enter n = "))
while i<=10:
    print(n,"*",i,"=",n*i)
    i=i+1

Enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [4]:
# 4! = 1*2*3*4
fac = 1
i =1
n = int(input("Enter n = "))
while i<=n:
    fac = fac*i
    i = i+1
print(fac)

Enter n = 5
120

In [ ]:
s = ""
i =0
n = int(input("Enter n = "))
while i<n:
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    s = s+name+"---"+str(phone)+"\n"
    i = i+1
print("The name of the students are  = \n",s)

In [9]:
a = "Python"
for i in range(5,-1,-1):
    print(i,end = " ")

5 4 3 2 1 0

In [10]:

for i in range(5,-1,-1):
    print(i*"*")

*****
****
***
**
*

In [17]:
a = "Python"
for i in range(5,-1,-1):
    print(a[i],end = "")

nohtyP

In [24]:
a = "Python"
print(a[-6])

P

In [12]:
a = 1
b = "-"
for i in range(10,-1,-1):
    print(i*b,"*"*a+"*"*(a-1))
    a = a+1

---------- *
--------- ***
-------- *****
------- *******
------ *********
----- ***********
---- *************
--- ***************
-- *****************
- *******************
 *********************

In [25]:
# Control Statements
# break
# continue
# pass

In [27]:
for i in range(10):
    if i == 5:
        break
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [28]:
a = "Hello World"
for i in a:
    if i == " ":
        break
    else:
        print(i)

H
e
l
l
o

In [31]:
for i in range(10):
    if i == 5:
        continue
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World

In [34]:
a = "Hello World"
for i in a:
    if i == " ":
        continue
    print(i,end = "")

HelloWorld

In [38]:
for  i in range(21):
    if i %2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [41]:
for  i in range(1,51):
    if i %5 != 0:
        continue
    print(i)

5
10
15
20
25
30
35
40
45
50