In [1]:
a = "Python"
print(type(a))

<class 'str'>

In [2]:
a = "Hello"
b = "World"
print(a+b)

HelloWorld

In [5]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [6]:
a = "Hello World"
print(a[0])

H

In [8]:
a = "Hello World"
print(a[:5])
print(a[5:])

Hello
 World

In [12]:
a = "Hello World"
print(a[0:11:2])

HloWrd

In [2]:
a = "Hello World"
print(a[10::-1])
print(a[::-1])

dlroW olleH
dlroW olleH
H

In [33]:
# String Operation
name = input("Enter name = ")
age = input("Enter age = ")
add = input("Enter add = ")
info = "Hello my name is "+name+". I am from "+add+". I am "+age+"."
print(info)

Enter name = nabin
Enter age = 25
Enter add = baniyani
Hello my name is nabin. I am from baniyani. I am 25.

In [3]:
# String Formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")
info = f"Hello my name is {name}. I am from {add}. I am {age} years old."
print(info)

Enter name = nabin
Enter age = 25
Enter add = baniyani
Hello my name is nabin. I am from baniyani. I am 25 years old.

In [5]:
name = input('enter your name: ')
addr = input('enter your address: ')
ph = int(input('enter your ph no: '))
age = int(input('enter your age: '))
info = "hello my name is "+name+".i live in "+addr+".my age is "+age+" years old and my phone no is "+ph+"."
info

enter your name: nabin
enter your address: baniyani
enter your ph no: 9836474537
enter your age: 25

TypeError: can only concatenate str (not "int") to str

In [7]:
name = input('enter your name: ')
add = input('enter your address: ')
ph = int(input('enter your phn no: '))
age = int(input('enter your age: '))
info = f"hello my name is {name}. I live in {add}. My age is {age} and my contact number is {ph}."
print(info)

enter your name: nabin
enter your address: baniyani
enter your phn no: 9813356457
enter your age: 25
hello my name is nabin. I live in baniyani. My age is 25 and my contact number is 9813356457.

In [19]:
search = input("Enter any data for search = ")
if search in info:
    print("Yes",info.count(search))
else:
    print("No")

Enter any data for search = Ram
Yes 1

In [6]:
data = input("enter any data to search: ")
if data in info:
    print("yes", info.count(data))
else:
    print("no")

enter any data to search: 25
yes 1

In [7]:
a = "Python is super."
print(a.upper())
print(a.lower())
print(a.capitalize())
print(a.swapcase())

PYTHON IS SUPER.
python is super.
Python is super.
pYTHON IS SUPER.

In [8]:
a = "my name. is Nabin"
a = a.split()#groups every word(string) to a list
print(a)

['my', 'name.', 'is', 'Nabin']

In [75]:
a = "my name. is Nabin"
a = a.split(".")
print(a)

['my name', ' is Nabin']

In [72]:
a = "my name. is Nabin"
a = a.lower().split(".")
print(a)

['my name', ' is nabin']

In [17]:
info_lower = []
info = "My name is nabin Raj Ghimire. I am from Kathmandu and i am 25 years old."
info_lower = info.lower().split()#first lowers and splits evry string to list by split().so search functions properly. 
search = input('enter any data to search:').lower() #because list has no lower() function.^
if search in info_lower:
    print('Yes',info_lower.count(search))#searches user string and counts
else:
    print('no')

enter any data to search:Am
Yes 2

In [18]:
info = "Hello my name is Ram. I am from Kathmandu I am 34"
lower_info = info.lower()#lowers every string 
search = input("Enter any data for search = ").lower()
if search in lower_info:#but it counts concat strings like 'am' is also counted in 'name' string
    print("Yes",lower_info.count(search))
else:
    print("No")

Enter any data for search = Am
Yes 4

In [22]:
s = ''
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info = f"{name}---{phone}\n"
    s+=info
print(s)

Enter n = 2
Enter name = nabin
Enter phone = 9836463755
Enter name = nabin1
Enter phone = 9846573648
nabin---9836463755
nabin1---9846573648

In [41]:
s1 = s.lower().split()
name = input("Enter name:\t").lower()
if name in s1:
    print("Yes",s1.count(name))
else:
    print("No")

Enter name:	NaBIN
Yes 1

In [50]:
s = s.replace('Ram','Hari ')
print(s)

Hari ---9836463443
Shyam---9836374827

In [55]:
finalData = ""
s = "Ram---9873647264\nShyam---9873626474"
name = input('enter name:\t')
if name in s:
    print("yes",s.count(name))
    replaceValue = input("enter replace name string:\t")
    finalData = s.replace(name,replaceValue)# replace parameters must be of string
else:
    print('there is no such name string.')
print(finalData)

enter name:	Ram
yes 1
enter replace name string:	NAbin
NAbin---9873647264
Shyam---9873626474

In [ ]:
# WAP for result management system 
# (name,physics,che,math,eng,Nepali,Total,Per)

In [4]:
s = "Ram---9856554543\nShyam---9867665654"
s = s.replace('Ram---9856554543','')
print(s)

Shyam---9867665654

In [95]:
# split()
a = "Hello World"
a.split()

['Hello', 'World']

In [88]:
a = "hello"
a.split()

['hello']

In [98]:
a = "hello"
list(a)# returns every character of string in list

['h', 'e', 'l', 'l', 'o']

In [85]:
a = " ".join(['i', 'am', 'ok.'])#similar to => #a = " ".join(('i', 'am', 'ok.')) # join returns a string.
print(a)

i am ok.

In [6]:
# split()
a = "Hello.World"
a.split('.')

['Hello', 'World']

In [74]:
s = "Ram---9856554543\nShyam---9867665654"
x = s.split('\n')
print(x)

['Ram---9856554543', 'Shyam---9867665654']