In [1]:
a = (1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [ ]:
Characteristics:
#     Immutable,
#     can have duplicate values,
#     follows indexing,
#     ordered

In [5]:
a = ("apple")
print(type(a))

<class 'str'>

In [3]:
a = ("apple",)
print(type(a))

<class 'tuple'>

In [4]:
print(a*3)

('apple', 'apple', 'apple')

In [6]:
a = ("apple","ball")
a[0]

'apple'

In [2]:
a = ("men",)#ordered
b = ("women",)
print(a+b)

('men', 'women')

In [8]:
a = (1,2,3,4,5)
a[0:3]

(1, 2, 3)

In [9]:
a = ("apple", "ball", "cat")
for i in a:
    print(i)

apple
ball
cat

In [17]:
a = ("apple", "ball", "cat")
for i in a:  
    if i == "ball":
        break  
print(i)

ball

In [15]:
a = ("apple", "ball", "cat")
for i in a:
    if i == "ball":
        continue  
    print(i)

apple
cat

In [12]:
a = ("apple", "ball", "cat")
if "apple" in a:
    print("yes", a.count("apple"))

yes 1

In [14]:
x,y,z = ("apple", "ball", "cat")
print(x,y,z)

apple ball cat

In [20]:
a = (1,2,3,4)
a.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [20]:
info = () #info = tuple()
n = int(input("enter n: "))
for i in range(n):
    name = input("enter name: ")
    info = info + (name,)
print(info)

enter n: 2
enter name: apple
enter name: ball
('apple', 'ball')

In [43]:
a = (1,2,3,6,4,5)
b =sorted(a)
print(a)
print(b)

(1, 2, 3, 6, 4, 5)
[1, 2, 3, 4, 5, 6]

In [63]:
# (()) to [[]]
c = []
a = ((1,2,3),(4,5,6))
for i in a:
    b = sorted(i)
    c.append(b)
print(c)

[[1, 2, 3], [4, 5, 6]]

In [45]:
print(list(a))
print(str(b))
print(tuple(b))

[1, 2, 3, 6, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [30]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [30]:
a = tuple("python")
print(a)

('p', 'y', 't', 'h', 'o', 'n')

In [34]:
a = "Python"
b = list(a)
tuple(b)

('P', 'y', 't', 'h', 'o', 'n')

In [34]:
str(b)

"['P', 'y', 't', 'h', 'o', 'n']"

In [35]:
#tuple inside tuple
a = ((),(),(),())
print(len(a))

4

In [37]:
a = ((1,2,3),(4,5,6),(7,8,9))
a[0][0]

1

In [66]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = ((10,11,12),)
print(a+b)

((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))

In [39]:
data = ()#appending tuple data to a tuple,tuple inside tuple
n = int(input('enter n: '))
for i in range(n):
    name = input('enter name: ')
    phone = input('enter phone: ')
    info = (name,phone) #data+=(name,phone)
    data+=(info,)
print(data)

enter n: 2
enter name: a
enter phone: 34
enter name: b
enter phone: 56
(('a', '34'), ('b', '56'))

In [51]:
data = (('a', '34'), ('b', '56'))
a = list(data)
print(a)

[('a', '34'), ('b', '56')]

In [53]:
a.append(("sd", 8658),)
a

[('a', '34'), ('b', '56'), ('sd', 8658)]

In [49]:
b = []
data = (('a', '34'), ('b', '56'))
for i in data:
    x = list(i)
    b.append(x)
print(b)

[['a', '34'], ['b', '56']]

In [55]:
b = ()
data = [["Ram",445],["Hari",6843]]
for i in data:
    x = tuple(i)
    b+=(x,)
print(b)

(('Ram', 445), ('Hari', 6843))

In [80]:
a = (("Ram",34534),("Hari",4534),("Shyam",3453456))
name = input("enter name: ")
for i in a:
    if name in i:
        print("yes")
        print(i)
        break
    else:
        print('no')
        break

enter name: Ram
yes
('Ram', 34534)

In [63]:
a = (("Ram",34534),("Hari",4534),("Shyam",3453456))
name = input("enter name: ")
for i in a:
    if name.lower() in i[0].lower():
        print("yes")
        print(i)

enter name: shyam
yes
('Shyam', 3453456)

In [85]:
a = (("Ram","nepal",34534),("Hari","US",4534),("Shyam","nepal",3453456))
name = input("enter name: ")
for i in a:
    if name.lower() in i[1].lower():
        print("yes")
        print(i)

enter name: Nepal
yes
('Ram', 'nepal', 34534)
yes
('Shyam', 'nepal', 3453456)